:root {
    --background-color: #FFFFE0
}

body {
    background-color: var(--background-color);
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Montserrat", serif;
}

html {
    scroll-behavior: smooth;
}

.intro,
.education h2 {

    color: #59bd99;
}

.intro h1 {
    text-align: center;
}

.grid,
.education-grid {
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 20px;
    align-items: center;
}

.profile-info h2 {
    margin-top: 0;
}

.profile-info p {
    color: black;
    margin-top: 0;
}

.profile-pic {
    height: 15rem;
    overflow: hidden;
    position: relative;
    left: 20%;
}

.nss-pic {
    height: 10rem;
    overflow: hidden;
    position: relative;
    left: 10%;
}

#skill-details,
#project-details {
    background-color: #FBF1B9;
}


.heading {
    text-align: center;
    color: black;
}

.heading p {
    color: black;
}

.heading h2 {
    color: #59bd99;
}

.skill {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;

}



.skill img {
    width: 60px;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.skill p {
    margin-top: 5px;
    font-size: 14px;
    color: #814710;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
}

.job-div {

    width: 80%;
    height: auto;
    position: relative;
    left: 13%;
    background-color: #FFDFB4;
    border: #865f2c;
    border-radius: 4px;
}

.job-title {
    color: #a17434;
    font-weight: bold;
    margin: 0;
    padding: 10px;

}



.job-description p {
    line-height: 1.5;
    text-align: left;
    padding: 10px;
    background-color: #FFDFB4;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-container p {
    text-align: left;
}

.project {
    width: 40rem;
    margin: 10px;
    padding: 20px;
    background-color: #FFDFB4;
    border-radius: 8px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project-header h3 {
    color: #a17434;
    margin: 0;
}

.date {
    color: #a17434;
}

.nss-info p {
    font-size: larger;
}

#contact-details {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 1rem;
    margin-top: 4rem;
    background-color: #FEE2C7;
    color: #c2a182;
}

.a {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #c2a182;
    color: white;
    border: 2px solid white;
    margin: 0.5rem;
}

.nav {
    color: white;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #FEE2C7;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-elements {
    text-align: right;
}

@keyframes changeLastName {

    0%,
    33.33% {
        content: "Jomi Susan Mathew";
        color: #48a4b0;
    }

    33.34%,
    66.66% {
        content: "Developer";
    }

    66.67%,
    100% {
        content: "Content Writer";
    }
}

.profile-info h2::after {
    content: "Jomi Susan Mathew";
    display: block;
    animation: changeLastName 9s infinite ease-in;
}


.skill img:hover {
    transform: scale(1.6);
    cursor: pointer;
}

.skill p:hover {
    transform: scale(1.6);
    cursor: pointer;
}

.job-div {
    overflow: hidden;
    margin-bottom: 20px;
}

.job-title {
    cursor: pointer;
}

.job-description {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, visibility 0s linear 0.3s;
}

.job-div:hover .job-description {
    visibility: visible;
    max-height: 100vh;
    transition: max-height 0.3s ease-in, visibility 0s linear;
}

.project-scroll-container {
    display: flex;
    animation: scrollAnimation 20s linear infinite;
    white-space: wrap;

}

.project-container {
    width: 50%;
    flex-shrink: 0;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 20px));
        /* Adjust the percentage to scroll */
    }
}


.project-container:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    animation-play-state: paused;
    cursor: pointer;
}

.grid h2 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    ;
}

.grid h3 {

    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    ;

}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }
}

/* .grid p {
    border-right: .15em solid #FEE2C7;
    white-space: nowrap;
}

.grid p:nth-child(1) {
    width: 7.3rem;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.grid p:nth-child(2) {
    width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s step(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
} */