body {
    background-color: #FFFFE0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

html {
    scroll-behavior: smooth;
}

.intro,
.education h2 {

    color: #59bd99;
}

.intro h1 {
    text-align: center;
}

.grid,
.education-grid {
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 20px;
    align-items: center;
}

.profile-info h2 {
    margin-top: 0;
}

.profile-info p {
    color: black;
    margin-top: 0;
}

.profile-pic {
    /* width: 20rem; */
    height: 15rem;
    overflow: hidden;
    position: relative;
    left: 20%;
}

.nss-pic {
    height: 10rem;
    overflow: hidden;
    position: relative;
    left: 10%;
}

#skill-details,
#project-details {
    background-color: #FBF1B9;
}


.heading {
    text-align: center;
    color: black;
}

.heading p {
    color: black;
}

.heading h2 {
    color: #59bd99;
}

.skill {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;

}



.skill img {
    width: 60px;
    /* height: auto; */
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.skill p {
    margin-top: 5px;
    font-size: 14px;
    color: #814710;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
}

.job-div {

    width: 80%;
    height: auto;
    /* max-height: 4em; */
    /* overflow: hidden; */
    position: relative;
    left: 13%;
    background-color: #FFDFB4;
    border:#865f2c ;
    border-radius: 4px;
    /* transition: height 0.3s ease; */
}

.job-title {
    color: #a17434;
    font-weight: bold;
    margin: 0;
    padding: 10px;

}



.job-description p {
    /* display: none; */
    line-height: 1.5;
    text-align: left;
    padding: 10px;
    background-color:#FFDFB4;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-container p {
    text-align: left;
}

.project {
    width: 40rem;
    margin: 10px;
    padding: 20px;
    background-color: #FFDFB4;
    border-radius: 8px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project-header h3 {
    color: #a17434;
    margin: 0;
}

.date {
    color: #a17434;
}

.nss-info p {
    font-size: larger;
}

#contact-details {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 1rem;
    margin-top: 4rem;
    background-color: #FEE2C7;
    color: #c2a182;
}

.a {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #c2a182;
    color: white;
    border: 2px solid white;
    margin: 0.5rem;
}

.nav {
    color: white;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #FEE2C7;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-elements {
    text-align: right;
}

@keyframes changeLastName {

    0%,
    33.33% {
        content: "Jomi Susan Mathew";
        color: #48a4b0;
    }

    33.34%,
    66.66% {
        content: "Developer";
    }

    66.67%,
    100% {
        content: "Content Writer";
    }
}

/* Animation for the dynamic text */
.profile-info h2::after {
    content: "Jomi Susan Mathew";
    display: block;
    animation: changeLastName 9s infinite ease-in;
    /* Change the duration as per your requirement */
}


.skill img:hover {
    transform: scale(1.6);
    cursor: pointer;
}

.skill p:hover {
    transform: scale(1.6);
    cursor: pointer;
}

.job-div {
    overflow: hidden;
    /* Ensure content space is occupied initially */
    margin-bottom: 20px;
    /* Add some spacing between job-divs */
}

.job-title {
    cursor: pointer;
    /* Add pointer cursor to indicate interactivity */
}

.job-description {
    visibility: hidden;
    /* Hide the descriptions initially */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, visibility 0s linear 0.3s;
    /* Delay the visibility transition */
}

.job-div:hover .job-description {
    visibility: visible;
    /* Show the descriptions on hover */
    max-height: 90vh;
    /* Adjust as needed */
    transition: max-height 0.3s ease-in, visibility 0s linear;
    /* Remove delay for visibility */
}

.project-scroll-container {
    display: flex;
    animation: scrollAnimation 20s linear infinite;
    /* Optional: Add smooth scrolling */
    white-space: wrap;

    /* Prevent projects from wrapping to the next line */
}

.project-container {
    width: 50%;
    /* Adjust the width of each project container */
    flex-shrink: 0;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 20px));
        /* Adjust the percentage to scroll */
    }
}


.project-container:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    animation-play-state: paused;
    cursor: pointer;
}